*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #fdfeff;;
    background-color: #0d1b2a;
}

.navbar_and_hero {
    background-image: url("../public/hero-bg-2.jpg");
    background-size: cover;
    background-position: center;
}

.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 20px 20px;
}

.header > .logo {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

.header .logo img {
    width: 100px;
}

.header > .logo > h1 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}

.header > .logo > h1 > span {
    color: #fec544;
}

.header > .navbar {
    grid-column: 3 / -1;
}

.header > .navbar > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}

.header > .navbar > ul > li {
    margin: 0 5px;
}

.header .clickable {
    opacity: 0.5;
    transition: opacity 200ms;
    cursor: pointer;
}

.header .clickable:hover {
    opacity: 1;
}

.phone_number {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fec544;
}

.phone_icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.toggle_navbar_button {
    position: absolute;
    top: 1.8rem;
    right: 1.5rem;
    width: 30px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.toggle_navbar_button .bar {
    height: 3px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

@media (max-width: 870px) {
    .navbar.unclicked {
        display: none;
    }

    .navbar.clicked {
        display: flex;
    }

    .toggle_navbar_button {
        display: flex;
        cursor: pointer;
    }

    .header {
        display: block;
    }

    .header .logo {
        justify-content: start;
    }

    .header .navbar ul {
        position: absolute;
        flex-direction: column;
        align-items: end;
        line-height: 1.8rem;
        font-size: 18px;
        right: 1.2rem;
    }

    .phone_number {
        display: none;
    }

    .separator {
        display: none;
    }

}


/* hero_section */

.hero_section {
    display: flex;
    height: 600px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero_section > h1 {
    font-size: 60px;
    text-align: center;
    margin: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.hero_section > h1 > span {
    color: #fec544;
}

.hero_section > p {
    text-align: center;
    margin: 0 30px 30px;
    line-height: 1.5rem;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.social_links {
    display: flex;
    justify-content: center;
}

.social_links img {
    max-width: 40px;
    margin: 0 5px;
    opacity: 0.5;
    transition: opacity 200ms;
}

.social_links img:hover {
    opacity: 1;
}

@media screen and (max-width: 480px) {
    .hero_section > h1 {
      font-size: 48px;
    }
}

/* END OF HERO SECTION */

/* ABOUT ME SECTION */

.about_me_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_me_title h1 {
    font-weight: 400;
    font-size: 26px;
    color: #fec544;
}

.about_me_big_underline {
    background-color: #a9adb884;
    height: 1px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.about_me_small_underline {
    background-color: #fec544;
    height: 100%;
    width: 50%;
}

.photo_and_description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 500px;
    grid-gap: 40px;
    padding: 60px;
    align-items: center;
    justify-items: center;
}

.portrait_photo {
    /* max-width: 400px; */
    max-height: 100%;
    /* width: 100%; */
    object-fit: cover;
    justify-self: center;
    padding: 0 40px;
}

.profile_description {
    max-width: 100%;
}

.photo_and_description h1 {
    font-weight: 400;
}

.photo_and_description h2 {
    font-weight: 300;
    color: #fec544;
}

.photo_and_description p {
    color: #a9adb8;
}

.photo_and_description button {
    border: none;
    height: 50px;
    width: 180px;
    background-color: #fec544;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.photo_and_description button:hover {
    box-shadow: -1px 9px 17px -12px rgba(254,197,68,0.71);
}

.photo_and_description button:active {
    background-color: #ba9132;
}